main {
  min-height: 80vh;
}

.rating span {
  margin-left: 0.1rem;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.add-to-cart,
.checkout {
  background-color: #f7ca00;
  padding: 0.3rem;
  font-size: 0.8rem;
}
/* sign in & register buttons */
.button {
  margin: 20px 0;
  border-radius: 3px;
}

.corner-rounded {
  border-radius: 3px;
}
